{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>SF FAQ</title>
        <meta name="description" content="It's what the title says.">
        <link rel="stylesheet" href="{% static 'css/FAQ.css' %}">
    </head>
    <body>
        <div class="mainframe">
            <div class="title">Chat Client FAQ</div>
           
            <div id="convow" class="convoWin" style="overflow":scroll;>
               {% for question in dicta %}
                <div class="greyboxjake">
                    <div class="textcontainer">
                        <b>{{question.question_body}}</b><br> {{question.question_answer}}
                        </div>           
                    </div>
                {% endfor %}
            </div>
            </div>
    </body>
</html>